#container {
display: flex;
justify-content: space-between;

}

li > a {
  width: 500px;
  padding: 5px;
  border: 5px solid pink;
  background-color: pink;
  margin: 0;
}

#container > li {
list-style-type: none;
}

main{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
}